.bg-custom {
  background-image: url("https://img.freepik.com/free-photo/books-with-brain-digital-art-style-education-day_23-2151164350.jpg?uid=R141745868&ga=GA1.1.406508785.1728154460&semt=ais_hybrid_sidr");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
